# Autoencoders

Dataset
-- https://grouplens.org/datasets/movielens/

In [1]:
!pip install torch

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: torch in /opt/conda/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: nvidia-cuda-cupti-cu11==11.7.101 in /opt/conda/lib/python3.10/site-packages (from torch) (11.7.101)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /opt/conda/lib/python3.10/site-packages (from torch) (11.7.99)
Requirement already satisfied: nvidia-nvtx-cu11==11.7.91 in /opt/conda/lib/python3.10/site-packages (from torch) (11.7.91)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /opt/conda/lib/python3.10/site-packages (from torch) (11.7.99)
Requirement already satisfied: nvidia-curand-cu11==10.2.10.91 in /opt/conda/lib/python3.10/site-packages (from torch) (10.2.10.91)
Requirement already satisfied: nvidia-cusolver-cu11==11.4.0.1 in /opt/conda/lib/python3.10/site-packages (from torch) (11.4.0.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from torch) (3.1.2)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /opt/conda/lib/python3.10/site-packages (from torch) (8.5.0.96)
Requirement already satisfied: nvidia-cufft-cu11==10.9.0.58 in /opt/conda/lib/python3.10/site-packages (from torch) (10.9.0.58)
Requirement already satisfied: networkx in /opt/conda/lib/python3.10/site-packages (from torch) (3.1)
Requirement already satisfied: nvidia-cusparse-cu11==11.7.4.91 in /opt/conda/lib/python3.10/site-packages (from torch) (11.7.4.91)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /opt/conda/lib/python3.10/site-packages (from torch) (11.10.3.66)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from torch) (1.11.1)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.10/site-packages (from torch) (4.5.0)
Requirement already satisfied: nvidia-nccl-cu11==2.14.3 in /opt/conda/lib/python3.10/site-packages (from torch) (2.14.3)
Requirement already satisfied: filelock in /opt/conda/lib/python3.10/site-packages (from torch) (3.11.0)
Requirement already satisfied: triton==2.0.0 in /opt/conda/lib/python3.10/site-packages (from torch) (2.0.0)
Requirement already satisfied: wheel in /opt/conda/lib/python3.10/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (0.40.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (67.6.1)
Requirement already satisfied: lit in /opt/conda/lib/python3.10/site-packages (from triton==2.0.0->torch) (16.0.1)
Requirement already satisfied: cmake in /opt/conda/lib/python3.10/site-packages (from triton==2.0.0->torch) (3.26.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.10/site-packages (from sympy->torch) (1.3.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [3]:
movies = pd.read_csv('../data/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
movies.head(10)

    0                                   1                             2
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy
5   6                         Heat (1995)         Action|Crime|Thriller
6   7                      Sabrina (1995)                Comedy|Romance
7   8                 Tom and Huck (1995)          Adventure|Children's
8   9                 Sudden Death (1995)                        Action
9  10                    GoldenEye (1995)     Action|Adventure|Thriller

In [4]:
users = pd.read_csv('../data/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users.head(10)

    0  1   2   3      4
0   1  F   1  10  48067
1   2  M  56  16  70072
2   3  M  25  15  55117
3   4  M  45   7  02460
4   5  M  25  20  55455
5   6  F  50   9  55117
6   7  M  35   1  06810
7   8  M  25  12  11413
8   9  M  25  17  61614
9  10  F  35   1  95370

In [5]:
ratings = pd.read_csv('../data/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings.head(10)

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291
5  1  1197  3  978302268
6  1  1287  5  978302039
7  1  2804  5  978300719
8  1   594  4  978302268
9  1   919  4  978301368

### Split Train Test

In [6]:
training_set = pd.read_csv('../data/ml-100k/u1.base', delimiter = '\t', header = None)
training_set.head(10)

   0   1  2          3
0  1   1  5  874965758
1  1   2  3  876893171
2  1   3  4  878542960
3  1   4  3  876893119
4  1   5  3  889751712
5  1   7  4  875071561
6  1   8  1  875072484
7  1   9  5  878543541
8  1  11  2  875072262
9  1  13  5  875071805

In [7]:
# Convert Dataframe to array
training_set = np.array(training_set, dtype = 'int')

In [8]:
test_set = pd.read_csv('../data/ml-100k/u1.test', delimiter = '\t', header = None)
test_set.head(10)

   0   1  2          3
0  1   6  5  887431973
1  1  10  3  875693118
2  1  12  5  878542960
3  1  14  5  874965706
4  1  17  3  875073198
5  1  20  4  887431883
6  1  23  4  875072895
7  1  24  3  875071713
8  1  27  2  876892946
9  1  31  3  875072144

In [9]:
# Convert Dataframe to array
test_set = np.array(test_set, dtype = 'int')

In [10]:
nb_users = int(max(max(training_set[:, 0]), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1]), max(test_set[:, 1])))
(nb_users, nb_movies)

(943, 1682)

In [11]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[:, 1][data[:, 0] == id_users]
        id_ratings = data[:, 2][data[:, 0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [12]:
training_set = convert(training_set)
test_set = convert(test_set)

### Convert data into Torch tensors

In [13]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

### Converting the ratings to binary ratings: 1 - liked, 0 - not liked

In [14]:
training_set[training_set == 0] = -1
training_set[training_set == 1] = 0
training_set[training_set == 2] = 0
training_set[training_set >= 3] = 1

test_set[test_set == 0] = -1
test_set[test_set == 1] = 0
test_set[test_set == 2] = 0
test_set[test_set >= 3] = 1

## Build Autoencoder

In [15]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
        
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [16]:
sae = SAE()

In [17]:
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

### Train the SAE

In [18]:
nb_epoch = 200

for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            s += 1.
            optimizer.step()
    print('Epoch: ' + str(epoch) + ' loss: '+ str(train_loss / s))

Epoch: 1 loss: tensor(2.2474)
Epoch: 2 loss: tensor(2.1010)
Epoch: 3 loss: tensor(2.0749)
Epoch: 4 loss: tensor(2.0525)
Epoch: 5 loss: tensor(2.0395)
Epoch: 6 loss: tensor(2.0342)
Epoch: 7 loss: tensor(2.0294)
Epoch: 8 loss: tensor(2.0254)
Epoch: 9 loss: tensor(2.0212)
Epoch: 10 loss: tensor(2.0155)
Epoch: 11 loss: tensor(2.0054)
Epoch: 12 loss: tensor(2.0007)
Epoch: 13 loss: tensor(1.9905)
Epoch: 14 loss: tensor(1.9677)
Epoch: 15 loss: tensor(1.9291)
Epoch: 16 loss: tensor(1.9094)
Epoch: 17 loss: tensor(1.9005)
Epoch: 18 loss: tensor(1.8925)
Epoch: 19 loss: tensor(1.8894)
Epoch: 20 loss: tensor(1.8830)
Epoch: 21 loss: tensor(1.8797)
Epoch: 22 loss: tensor(1.8765)
Epoch: 23 loss: tensor(1.8744)
Epoch: 24 loss: tensor(1.8728)
Epoch: 25 loss: tensor(1.8697)
Epoch: 26 loss: tensor(1.8687)
Epoch: 27 loss: tensor(1.8678)
Epoch: 28 loss: tensor(1.8661)
Epoch: 29 loss: tensor(1.8645)
Epoch: 30 loss: tensor(1.8646)
Epoch: 31 loss: tensor(1.8623)
Epoch: 32 loss: tensor(1.8619)
Epoch: 33 loss: tensor(1.8606)
Epoch: 34 loss: tensor(1.8603)
Epoch: 35 loss: tensor(1.8580)
Epoch: 36 loss: tensor(1.8581)
Epoch: 37 loss: tensor(1.8568)
Epoch: 38 loss: tensor(1.8565)
Epoch: 39 loss: tensor(1.8549)
Epoch: 40 loss: tensor(1.8553)
Epoch: 41 loss: tensor(1.8532)
Epoch: 42 loss: tensor(1.8534)
Epoch: 43 loss: tensor(1.8516)
Epoch: 44 loss: tensor(1.8517)
Epoch: 45 loss: tensor(1.8506)
Epoch: 46 loss: tensor(1.8508)
Epoch: 47 loss: tensor(1.8499)
Epoch: 48 loss: tensor(1.8479)
Epoch: 49 loss: tensor(1.8479)
Epoch: 50 loss: tensor(1.8473)
Epoch: 51 loss: tensor(1.8466)
Epoch: 52 loss: tensor(1.8462)
Epoch: 53 loss: tensor(1.8454)
Epoch: 54 loss: tensor(1.8466)
Epoch: 55 loss: tensor(1.8470)
Epoch: 56 loss: tensor(1.8469)
Epoch: 57 loss: tensor(1.8451)
Epoch: 58 loss: tensor(1.8465)
Epoch: 59 loss: tensor(1.8439)
Epoch: 60 loss: tensor(1.8435)
Epoch: 61 loss: tensor(1.8432)
Epoch: 62 loss: tensor(1.8411)
Epoch: 63 loss: tensor(1.8411)
Epoch: 64 loss: tensor(1.8426)
Epoch: 65 loss: tensor(1.8414)
Epoch: 66 loss: tensor(1.8414)
Epoch: 67 loss: tensor(1.8410)
Epoch: 68 loss: tensor(1.8416)
Epoch: 69 loss: tensor(1.8400)
Epoch: 70 loss: tensor(1.8402)
Epoch: 71 loss: tensor(1.8389)
Epoch: 72 loss: tensor(1.8404)
Epoch: 73 loss: tensor(1.8392)
Epoch: 74 loss: tensor(1.8398)
Epoch: 75 loss: tensor(1.8379)
Epoch: 76 loss: tensor(1.8392)
Epoch: 77 loss: tensor(1.8393)
Epoch: 78 loss: tensor(1.8391)
Epoch: 79 loss: tensor(1.8370)
Epoch: 80 loss: tensor(1.8385)
Epoch: 81 loss: tensor(1.8378)
Epoch: 82 loss: tensor(1.8380)
Epoch: 83 loss: tensor(1.8371)
Epoch: 84 loss: tensor(1.8370)
Epoch: 85 loss: tensor(1.8367)
Epoch: 86 loss: tensor(1.8375)
Epoch: 87 loss: tensor(1.8363)
Epoch: 88 loss: tensor(1.8370)
Epoch: 89 loss: tensor(1.8350)
Epoch: 90 loss: tensor(1.8356)
Epoch: 91 loss: tensor(1.8356)
Epoch: 92 loss: tensor(1.8362)
Epoch: 93 loss: tensor(1.8353)
Epoch: 94 loss: tensor(1.8350)
Epoch: 95 loss: tensor(1.8343)
Epoch: 96 loss: tensor(1.8355)
Epoch: 97 loss: tensor(1.8343)
Epoch: 98 loss: tensor(1.8352)
Epoch: 99 loss: tensor(1.8340)
Epoch: 100 loss: tensor(1.8349)
Epoch: 101 loss: tensor(1.8337)
Epoch: 102 loss: tensor(1.8342)
Epoch: 103 loss: tensor(1.8335)
Epoch: 104 loss: tensor(1.8339)
Epoch: 105 loss: tensor(1.8332)
Epoch: 106 loss: tensor(1.8341)
Epoch: 107 loss: tensor(1.8331)
Epoch: 108 loss: tensor(1.8340)
Epoch: 109 loss: tensor(1.8325)
Epoch: 110 loss: tensor(1.8336)
Epoch: 111 loss: tensor(1.8324)
Epoch: 112 loss: tensor(1.8331)
Epoch: 113 loss: tensor(1.8322)
Epoch: 114 loss: tensor(1.8320)
Epoch: 115 loss: tensor(1.8316)
Epoch: 116 loss: tensor(1.8315)
Epoch: 117 loss: tensor(1.8313)
Epoch: 118 loss: tensor(1.8324)
Epoch: 119 loss: tensor(1.8308)
Epoch: 120 loss: tensor(1.8323)
Epoch: 121 loss: tensor(1.8311)
Epoch: 122 loss: tensor(1.8318)
Epoch: 123 loss: tensor(1.8310)
Epoch: 124 loss: tensor(1.8321)
Epoch: 125 loss: tensor(1.8311)
Epoch: 126 loss: tensor(1.8313)
Epoch: 127 loss: tensor(1.8305)
Epoch: 128 loss: tensor(1.8316)
Epoch: 129 loss: tensor(1.8306)
Epoch: 130 loss: tensor(1.8317)
Epoch: 131 loss: tensor(1.8303)
Epoch: 132 loss: tensor(1.8311)
Epoch: 133 loss: tensor(1.8301)
Epoch: 134 loss: tensor(1.8305)
Epoch: 135 loss: tensor(1.8297)
Epoch: 136 loss: tensor(1.8313)
Epoch: 137 loss: tensor(1.8299)
Epoch: 138 loss: tensor(1.8307)
Epoch: 139 loss: tensor(1.8293)
Epoch: 140 loss: tensor(1.8301)
Epoch: 141 loss: tensor(1.8291)
Epoch: 142 loss: tensor(1.8305)
Epoch: 143 loss: tensor(1.8291)
Epoch: 144 loss: tensor(1.8289)
Epoch: 145 loss: tensor(1.8292)
Epoch: 146 loss: tensor(1.8281)
Epoch: 147 loss: tensor(1.8282)
Epoch: 148 loss: tensor(1.8282)
Epoch: 149 loss: tensor(1.8279)
Epoch: 150 loss: tensor(1.8275)
Epoch: 151 loss: tensor(1.8278)
Epoch: 152 loss: tensor(1.8274)
Epoch: 153 loss: tensor(1.8282)
Epoch: 154 loss: tensor(1.8279)
Epoch: 155 loss: tensor(1.8285)
Epoch: 156 loss: tensor(1.8316)
Epoch: 157 loss: tensor(1.8303)
Epoch: 158 loss: tensor(1.8313)
Epoch: 159 loss: tensor(1.8294)
Epoch: 160 loss: tensor(1.8310)
Epoch: 161 loss: tensor(1.8293)
Epoch: 162 loss: tensor(1.8299)
Epoch: 163 loss: tensor(1.8293)
Epoch: 164 loss: tensor(1.8307)
Epoch: 165 loss: tensor(1.8276)
Epoch: 166 loss: tensor(1.8286)
Epoch: 167 loss: tensor(1.8289)
Epoch: 168 loss: tensor(1.8291)
Epoch: 169 loss: tensor(1.8283)
Epoch: 170 loss: tensor(1.8290)
Epoch: 171 loss: tensor(1.8287)
Epoch: 172 loss: tensor(1.8300)
Epoch: 173 loss: tensor(1.8287)
Epoch: 174 loss: tensor(1.8298)
Epoch: 175 loss: tensor(1.8286)
Epoch: 176 loss: tensor(1.8276)
Epoch: 177 loss: tensor(1.8285)
Epoch: 178 loss: tensor(1.8294)
Epoch: 179 loss: tensor(1.8290)
Epoch: 180 loss: tensor(1.8294)
Epoch: 181 loss: tensor(1.8287)
Epoch: 182 loss: tensor(1.8285)
Epoch: 183 loss: tensor(1.8279)
Epoch: 184 loss: tensor(1.8287)
Epoch: 185 loss: tensor(1.8275)
Epoch: 186 loss: tensor(1.8281)
Epoch: 187 loss: tensor(1.8275)
Epoch: 188 loss: tensor(1.8280)
Epoch: 189 loss: tensor(1.8275)
Epoch: 190 loss: tensor(1.8285)
Epoch: 191 loss: tensor(1.8265)
Epoch: 192 loss: tensor(1.8275)
Epoch: 193 loss: tensor(1.8259)
Epoch: 194 loss: tensor(1.8268)
Epoch: 195 loss: tensor(1.8267)
Epoch: 196 loss: tensor(1.8262)
Epoch: 197 loss: tensor(1.8270)
Epoch: 198 loss: tensor(1.8276)
Epoch: 199 loss: tensor(1.8269)
Epoch: 200 loss: tensor(1.8277)

In [19]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input_vec = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input_vec)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print(' Loss: '+ str(test_loss / s))

 Loss: tensor(2.3033)